<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
</head>
<body>
	<h1>홈</h1>
	<% if(logStatus !== 'Y'){ %>
	<a href="/login">로그인</a>
	<% } else if(logStatus === 'Y') { %>
	<%= user.username %><a href="/logout">로그아웃</a>
	<% } %>
	<a href="/boardList">게시판 목록</a>
</body>
</html>